

{% extends 'data_management/base.html' %}


{% block content %}
<a href="/data_management/">home</a>
<hr>

{% if table_list %}
    <ul>
    {% for table in table_list %}
        <p><a href="/data_management/{{ table }}/">{{ table }}</a></p>
    {% endfor %}
    </ul>

<!--The next line is adding extra button for spectrum app. Delete if necessary -->

 <ul> <a href="/spectrum/molecules_list">Molecules List</a> </ul>


 <ul>  <a href="/spectrum/files">   To spectrum app (Nursultan: "Added this in data_mng app/templates/index.html")  </a> </ul>


<ul> <a href="/spectrum/test"> Testing line </a> </ul>
<ul> <a href="/spectrum/main_table">Main Table</a> </ul>
<ul> <a href='/spectrum/main_data'> Data view</a></ul>
<!--The code between commented lines is added by Nursultan. -->


{% else %}
    <p>No molecular states available.</p>
{% endif %}
{% endblock content %}
