{% extends 'data_management/base.html' %}

{% block content %}
<a href="/data_management/">home</a> > <a href="/data_management/Molecular_states">Molecular states</a>
<hr>

{% if molecular_state_list %}

    <ul>
    <li> Edited this document
           {% for molecular_state in molecular_state_list %}
{% if 'ScO' in molecular_state %}
<li><a href="/data_management/Molecular_states/{{ molecular_state.molecular_state_id }}/">{{ molecular_state }}</a></li>
{% endif %}
    {% endfor %}



    </li>
    </ul>


    <ul>
    <li><a href="/data_management/Molecular_states/new/">Add new</a></li>
    {% for molecular_state in molecular_state_list %}
        <li><a href="/data_management/Molecular_states/{{ molecular_state.molecular_state_id }}/">{{ molecular_state }}</a></li>
    {% endfor %}
    <li><a href="/data_management/Molecular_states/new/">Add new</a></li>
    </ul>
{% else %}
    <p>No molecular states available.</p>
{% endif %}
{% endblock %}
