{% extends 'data_management/base.html' %}

{% block content %}

<a href="/data_management/">home</a> > <a href="/data_management/Reference_publications">Reference publications</a>
<hr>

{% if reference_publication_list %}
    <ul>
    <li><a href="/data_management/Reference_publications/new/">Add new</a></li> 
    <li><a href="/data_management/Reference_publications/new_from_bib/">Add new from BibTeX entry (beta)</a></li> 
    {% for reference_publication in reference_publication_list %}
        <li><a href="/data_management/Reference_publications/{{ reference_publication.reference_publication_id }}/">{{ reference_publication }}</a></li>
    {% endfor %}
    <li><a href="/data_management/Reference_publications/new/">Add new</a></li> 
    <li><a href="/data_management/Reference_publications/new_from_bib/">Add new from BibTeX entry (beta)</a></li> 
    </ul>
{% else %}
    <p>No reference publications available.</p>
{% endif %}
   
{% endblock %}
