
<!--This file is for spectrum/molecules_list 
It just produces the list of  molecules-->
{% extends 'data_management/base.html'%}

    {% block content%}
 <a href="/data_management/"> home </a> > <a href="/spectrum/molecules_list">Molecules list</a>  
 

 <p> Molecules in the database</p>
  
  <div class="the_list"> 
     <ol>
      
      {% for name in molecules_list %}
    
         <li>
            
          <a href="/spectrum/molecules_list/{{name}}"> {{name}} </a>

         
         </li>
      {% endfor %}
    
    </ol>
   </div>
{% endblock content %}


























