
<!-- This file is for sinple testing output-->
{% extends 'base.html' %}



{% block content%}

<style>
table, th, td {
            border:1px solid black;
            border-collapse: collapse;

}

</style>
<p>Testing HTML</p>

{%load dictionary_lookup%}
{%load set%}


{%with inner_part=main|get_item:"NiO"|get_item:"NiO_X3Sigma-"%}
 {%with state_object=inner_part|get_item:"state_object"%}
  {{state_object}}
 {%endwith%}
{%endwith%}

{{main|get_item:"NiO"|get_item:"NiO_X3Sigma-"|get_item:"state_object"}}















{%endblock content%}






