{% extends 'data_management/base.html' %}





{% block content %}

<a href='/data_management/'>home </a> > <a href="/spectrum/molecules_list/">Molecules list</a> > <a href="/spectrum/molecules_list/{{molecule}}/">{{molecule}}</a> > {{state_data.0}}<sup>{{state_data.1}}</sup> {{state_data.2}}



<style>
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;

}
</style>


<table style="width:80%">
<caption><h1> Constants for {{molecule}} : {{state_data.0}}<sup>{{state_data.1}}</sup> {{state_data.2}} </h1> </caption>


<tr>
 <th>Constant Type</th>
 <th>Value</th>
 <th>Publication</th>
</tr>


   {%for i in constants_list%}
    <tr> 
        <td>{{i.constant_type}}</td>
        <td>{{i.value}}</td>
        <td>Papers</td>   
    </tr>
   {%endfor%}
</table>
{%endblock content%}



