{%extends 'data_management/base.html'%}


{%block content%}

<a href="/data_management/">home</a>


<style>
  
  table, th, td{ border: 1px solid black; 
                 border-collapse: collapse;}

  th{ text-align: center;}
</style>


<!-- Load Custom filters -->
{%load dictionary_lookup %}


<table style="width:80%">
<caption><h1>Main Table</h1></caption>



<!-- Main For loop -->
{% for molecule in unique_molecules %}
 <tr style="background-color:Tomato;outline:thin solid black;">
   <th colspan="14">
   <h1 align="center">
   <font color="black">
        {{molecule}}
   </h1>
   </font>
   </th>
 </tr>

 <tr style="background-color:mediumseagreen;">
    <th>State Tag </th>
    <th>Notation </th>
    <th>Paper</th>
    {%for constant in e_constants %}
        <th id={{constant}}>{{constant}}</th>
    {%endfor%}
 </tr>
  
{%with states_list=main|get_item:molecule %}
{%for state in states_list%}
{%with object=states_list|get_item:state|get_item:"state_object"%}
{%with constants_list=states_list|get_item:state|get_item:"constants"%}
{%with first_entry=constants_list.0%}
{%with rowspan=states_list|get_item:state|get_item:"rowspan"%}
{%with remaining=states_list|get_item:state|get_item:"remaining"%}
{%with const_in_table=e_constants|length%}

<tr style="background-color:lightgray;">
    <td rowspan={{rowspan}}>{{state}}</td>
    <td rowspan={{rowspan}}>{{object.excitation_index}} <sup>{{object.total_electronic_spin}}</sup>{{object.electronic_symmetry}}</td>
    <td>{{first_entry.reference_publication}}</td>
    <!-- Loop to display constants for tyhe first entry -->
    {%for const in e_constants%}
        {%if first_entry.constant_type == const %}
            <td align="center">{{first_entry.value}} </td>
        {%else%}
            <td align="center"> --- </td>
        {%endif%}    


    {%endfor%}
</tr>

    {%for diatomic_constant in constants_list%}
        {%if diatomic_constant != first_entry %}
            <tr style="background-color:lightgray;">
                <td> {{diatomic_constant.reference_publication}}</td>
                <!--Loop to display blacnk or constant -->   
                {%for const in e_constants %}
                    {%if diatomic_constant.constant_type == const %}
                        <td align="center">{{diatomic_constant.value}} </td>
                    {%else%}
                        <td align="center"> --- </td>
                    {%endif%}

                {%endfor%}

            </tr>
        {%endif%}


    {%endfor%}








{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}
{%endfor%}
{%endwith%}





<!-- NOTHING TO WRITE OR DELETE BELOW THIS LINE! --> 
{%endfor%}
</table>
{%endblock%}       
