{%extends 'data_management/base.html'%}







{%block content%}







<style>  table,th,td { border: 1px solid black;
                       border-collapse:collapse;}

        
</style>


<table id='table',style="width:100%">



<tr style="background-color:Tomato;color:black;outline:thin solid black;">
  <th colspan="14"><h1 align="center"><font color="black"> ScO </h1> </font></th>
</tr>

<tr style="background-color:mediumseagreen;">
 <th>State Tag</th>
 <th>Notation </th>
 <th>Paper</th>
 {%for constant in e_constants%} 
 <th id={{constant}}>{{constant}}</th>
 {%endfor%}
</tr>

{%with states_list=main|get_item:"ScO"%}


{%for state in states_list%}
{%with object=states_list|get_item:state|get_item:"state_object"%}
{%with constants_list=states_list|get_item:state|get_item:"constants"%}
{%with first_entry=constants_list.0%}
{%with rowspan=states_list|get_item:state|get_item:"rowspan"%}
{%with remaining=states_list|get_item:state|get_item:"remaining"%}
{%with const_in_table=e_constants|length %}
<tr style="background-color:lightgray;">
    <td rowspan={{rowspan}}>{{state}}</td>
    <td rowspan={{rowspan}}>{{object.excitation_index}}</td>
    <td>{{first_entry.reference_publication}}</td> 
    <!--Here is the loop where constants of ONLY first_entry must appear -->
    {%for const in e_constants %}
        {%if first_entry.constant_type == const %}
           <td align="center"> {{first_entry.value}} </td>
        {%else%}
           <td align="center"> --- </td>
        {%endif%}
        
     {%endfor%}
</tr>
    {%for diatomic_constant in constants_list %}
        {%if diatomic_constant != first_entry%}
        
            <tr style="background-color:lightgray;"> 
                <td>{{diatomic_constant.reference_publication}} </td>
                
                <!-- Here is the loop where we display blank or constant-->
                {% for const in e_constants %}
                    {%if diatomic_constant.constant_type == const %}
                        <td align="center"> {{diatomic_constant.value}} </td>
                    {%else%}
                        <td align="center"> --- </td>
                    {%endif%}

                 {%endfor%} 
            </tr>

        {%endif%}
    {%endfor%} 
            

{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}
{%endfor%}




{%endwith%}



</table>






{%endblock%}
