{% extends 'base.html' %}



{% block content%}
  <style>
    body{ 
        background-color: lightblue; 
        }   
  </style>

  <h2> There are {{count}} types of molecules in this database </h2>
To do on this page:   

1. Make links from each molecule to every possible data in this database

2. Figure out how to make NEW line, so the lines are not too long
  <ol>


   
      {% for name in molecule_names %}

      <li>
       {{name}}
      </li>
      
      {% endfor %}

  

 </ol>

{% endblock content %}

